# Example default_hostgroup settings
#
# Must be placed in ~foreman/config/settings.plugins.d/
#
# :facts_map:
#   <hostgroup>:
#     <fact_name>: <regex>
#
# The regex can be written either with or without the enclosing slashes:
#   ^test$      - valid
#   /^test$/    - also valid
#
# List the regexes in the order of prority
#
---
---
:default_hostgroup:
  :facts_map:
    "redhat base":
      "osfamily": "RedHat"
    "osx/common":
      "osfamily": "Darwin"
    "catchall":
      "hostname": ".*"